.container {
    background-color: #232533;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topHeader {
    background-color: #282A36;
    min-width: 100vw;
    max-height: 40px;
    display: flex;
}

.left {
    background-color: #343746;
    max-width: 5% !important;
    min-width: 40px !important;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.wrapIcon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    color: #6272A4;
    font-size: 20px;

}

.wrapIconBottom {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: #6272A4;
    font-size: 20px;
    cursor: pointer;
}

.center {
    min-width: 100vw;
    flex: 2 !important;
    flex-wrap: nowrap !important;
}

.logoVs {
    color: #1177BB;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 18px;

}

.topMenu {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex: 1;
    flex-wrap: nowrap;
}

.topMenu p {
    color: #fff;
    cursor: pointer;
    padding: 0 8px;
    font-size: 14px;

}

.topMenu p:hover {
    background-color: rgb(61, 61, 61);
    border-radius: 4px;

}

.nameMain {
    display: flex;
    align-items: center;
    flex: 1;
    color: #fff;
    margin-left: 20px;
}

.topClose {
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.topClose>svg {
    font-size: 24px;
    cursor: pointer;
}

.collapseCode {
    background-color: #282A36;
    width: 130px;
}

.topFile {
    display: flex;
    align-items: center;
}

.file {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.file:hover {
    background-color: #3d414f
}

.file p {
    font-size: 14px;
    color: #fff;
}

.file svg {
    color: rgb(161, 161, 161);
}

.collapseFile {
    display: flex;
    align-items: center;
    margin-left: 14px;
    cursor: pointer;
}

.hiddenOnMobile {
    display: none;
}

.js {
    color: rgb(218, 218, 7);
    font-size: 14px;
}

.sass {
    font-size: 14px;
    color: #fa6f9d;
}

.collapseFile p {
    font-size: 12px !important;
    color: #fff;
}


.primsmCode {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.screenVs {
    display: flex;
    min-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screenVs svg {
    font-size: 200px;
    color: #323131;
}

.topFile {
    border-top: 1px solid rgba(149, 128, 255, 0.9);
    padding: 0px 0px 0px 2px;
    color: #fff;
    height: 20px;
}

.paddingR {
    padding-right: 14px;
}

.removeClass {
    padding-right: 0 !important;
}

.bottom {
    border-bottom: 1px solid red;
}

.topFileStyle {
    display: flex;
    align-items: center;
    cursor: pointer;
    /* padding-right: 16px; */
}

.topFileStyle p {
    font-size: 12px;

}

.topFileStyle div {
    font-size: 12px;

}

.s {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.runBottomFile {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 2px rgba(0, 0, 0, 0.23);

    width: 100%;
    border-bottom: 1px solid black;
    background-color: #232533;
}

.excuteP {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.package {
    color: #9678CA;
}

.excuteFileName {
    font-size: 10px !important;
    color: #6272A4;
    margin-left: 2px !important;

}

.keyBoard {
    background-color: #2C2C2C;
    padding: 0px 4px;
    border-radius: 3px;
    color: #7E7E7E;
}


pre[class*="language-"] {
    background-color: transparent !important;
}

pre[class*="language-"] {
    padding: 0 !important;
    margin: 0 !important;
}

.menuTerminal {
    left: 280px !important;
    top: 20px !important;

}

.menuTerminal div[class*='MuiPaper-elevation8'] {
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.10), 0 0.5px 0.5px rgba(0, 0, 0, 0.100) !important;
}

.menuTerminal ul {
    background-color: #343746;
    box-shadow: unset !important;
    color: #fff;

}

.menuTerminal ul li {
    font-size: 14px !important;
}

.btnRun {
    background-image: linear-gradient(90deg, #e55d87 0, #5fc3e4 51%, #e55d87);
    padding: 8px 22px !important;
    text-align: center;
    border-radius: 40px;
    transition: .5s !important;
    background-size: 200% auto !important;
    color: #fff !important;
    display: block;
    border-radius: 20px !important;
    margin: 20px 0px 0px 20px !important;
    min-width: 60px;
}

.btnRun:hover {
    background-position: 100%;
    background-image: linear-gradient(90deg, #e55d87 0, #5fc3e4 51%, #e55d87);
    text-align: center;
    border-radius: 40px;
    transition: .5s;
    background-size: 200% auto;
    color: #fff;
    text-decoration: none;
    min-width: 60px;
}

.btnRunning {
    background-image: linear-gradient(90deg, rgb(27, 250, 255) 0%, rgb(218, 236, 31) 44%, rgb(244, 109, 109) 100%) !important;
    min-width: 60px;
    padding: 10px 60px !important;
    background-size: 200% auto;
    transition: unset !important;

}

.loadCir {
    font-size: 14px;
    animation-duration: 450ms !important;
    color: #d4e7f8 !important;
}

.openTerminal {
    background-color: #232533;
    width: 100%;
    border-top: 1px solid rgba(149, 128, 255, 0.9);
    height: 85px;
    max-height: 85px;
    align-items: center;
    padding-bottom: 10px;
}

.terminalFile {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: #fff;
    margin-left: 10px;
    justify-content: space-between;
}

.terminalFile p {
    font-size: 8px !important;
    margin-right: 10px;
    color: #6272A4;
    cursor: pointer;
}

.activeTerminal {
    border-bottom: .5px solid rgba(255, 128, 191, 0.9);
}

.terminalFile p:hover {
    color: #fff;
}

.terminalFileName {
    display: flex;
    align-items: center;
}

.comandLine {
    color: #fff;
    margin-left: 10px;
}

.comandLine p {
    font-size: 10px !important;
}

.commandI {
    display: flex;
    align-items: center;
}

.commandI input {
    height: 20px;
    font-size: 10px;
    width: 50%;
    max-width: 50%;
    background-color: #232533;
    outline: none;
    border: none;
    color: #fff;
}

/* responsive */
@media (max-width: 1200px) {
    .logoVs {
        margin-left: 12px;
    }
}

@media (max-width: 520px) {
    .topMenu {
        display: none;
    }

    .collapseCode {
        display: none;
    }
}


@keyframes VDZ {
    0% {
        background-position: 10% 0;
    }

    50% {
        background-position: 91% 100%;
    }

    100% {
        background-position: 10% 0;
    }
}


.btnVdz {
    border-radius: 30px !important;
    font-size: 12px !important;
    padding: 22px 14px !important;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #fff !important;
    font-family: gilroyBold, sans-serif;
    height: 25px;
    justify-content: center;
    letter-spacing: 1px;
    position: relative;
    width: 130px !important;
    animation: VDZ 4s ease infinite;
    background: radial-gradient(135% 117% at 104.31% 94%, #ee99f7 13.45%, rgba(173, 112, 255, .73) 37.82%, rgba(140, 107, 255, .65) 55.04%, rgba(0, 255, 209, .85) 78.15%, rgba(178, 161, 243, .65));
    background-size: 600% 600%;
    z-index: 15;
    margin: 10px 0px 0px 10px !important;
}

.btnVdz::before {
    animation: VDZ 8s ease infinite;
    filter: blur(20px);
    opacity: 1;
    background: -webkit-linear-gradient(149deg, #ee99f770, #ad70ff70, #8c6bff70, #00ffd170, #fff9ff70);
    background-size: 1%;
    border-radius: 100px;
    bottom: -5px;
    content: "";
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
    transition: .5s;
    /* background-image: url('../../images/noise_vdz.png') !important; */
    z-index: -1;
}

.btnVdz:after {
    background: -webkit-linear-gradient(149deg, #ee99f770, #ad70ff70, #8c6bff70, #00ffd170, #fff9ff70);
    background-blend-mode: color-dodge;
    border-radius: 40px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
    background-image: url('../../images/noise_vdz.png') !important;
    object-fit: cover;
    min-height: 100%;
    max-width: 100%;
    height: 10px !important;
    ;
}